body {
  height: 100vh;
  background: #d9dcd6;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  height: 100vh;
}

#human-robot {
  width: 530px;
  object-fit: cover;
  height: 260px;
  @media (max-width: 868px) {
    height: 160px;
    width: 330px;
  }
}
i{
  img{
    height: 4rem;
  }
}
.modal-body {
  & img {
    width: 100%;

    object-fit: contain;
  }
}

p#desc {
  color: #0000005d;
}

#container {
  color: black;
  & h1 {
    text-align: center;
  }
}
#myskills {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.skillexample:hover {
  transition-duration: 0.5s;
  transform: translate(3px, -3px);
}

i {
  color: white;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
article#projects {
  padding-bottom: 50px;
}

section#myself {
  width: 530px;
  margin-top: 250px;
  margin-left: -225px;
  height: 260px;
  background-color: #7aacbf;
  color: #333333;
  font-family: "Roboto", sans-serif;
  display: grid;
  flex-direction: column;

  @media (max-width: 760px) {
    height: 150px;
    width: 390px;
    padding: -10px;
    
    
  }


  & p,
  a {
    margin-left: 30px;
    margin-top: -20px;
  }
  & p#name {
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 50px;
    @media (max-width: 868px) {
      margin-top: 6px;
      font-size: 1.4rem;
    }


  }

  & p#me {
    font-size: 0.9rem;
    margin-top: -47px;
    @media (max-width: 868px) {
      margin-top: -15px;
      
    }
    @media (max-width: 768px) {
      font-size: 0.8rem;
    }

  }

  & a {
    text-decoration: none;
    color: black;
    justify-content: end;
    width: 10ch;
    height: 1ch;
    
    &:hover {
      color: rgb(65, 65, 65);
    }
  }
}

section#examples {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  & a {
    text-decoration: none;
    color: white;
  }
  & h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
  }
}

div.card-header {
  text-align: center;
}
.card-text {
  font-size: 1rem;
  font-weight: lighter;
}

article h2 {
  text-align: center;
}
div.card {
  & button {
    display: flex;
    justify-self: center;
  }
}

footer{
  background-color: rgb(20, 20, 20);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  & ul{
    list-style: none;
    display: flex;
    gap: 8px;
    padding-top: 11px;
    
  }

  & ul a li{
    color: black;
    background-color: white;
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 10000%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        transform: translate(5px, -2px);
        transition-duration: 0.5s;
    }
  }

  & div strong{
    font-weight: normal;
  }

  & svg{
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }

  & div{
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    
  }
}

